body {
    color: #003399;
}

.row {
    margin: 5%
}

.col {
    border: solid 5px #003399;
    background-color: #ffd700
}

.header {
    background-color: #003399
}

.table {
    border: solid 5px #003399
}

td {
    border: solid 2px #003399
}

.navbar-toggler-icon {
    color: white;
    /* background-color: #003399; */
    padding-left: 20px;
    font-size: 200%
  } 

.navbar-brand {
    color: white
}

.navbar-brand:hover {
    color: #ffd700
} 

.button-primary {
    background-color: #003399;
    color: #ffd700
}

.button-secondary {
    background-color: #003399;
    color: #ffd700
}

a {
    color: white
}

/* no evidence this does anything yet */
a.hover {
    color: white;
    text-decoration: none;
}

button.save.btn.btn-default {
    background-color: #003399;
    color: white
}

/* no evidence this works yet */
button.close {
    color: white
}

button.close.hover {
    color: #ffd700
}

/* .modal-dialog {
    height: 300%;
    width: 200%
} */

.modal-header {
    justify-content: center;
    background-color: #003399;
    color: white
}

.modal-body {
    padding: 5%
}

.modal-footer {
    padding: 5%
}

form {
    background-color: #ffd700;
    border: solid 2px #003399;
    padding: 10px;
    margin: 10px;
}

input {
    width: 100%;
}