body {
    color: #003399;
    background-color: gainsboro
}

.container-fluid {
    margin-top: 50px
}


/* .row {
    margin-top: 300px
} */

.col {
    border: solid 5px #003399;
    background-color: #ffd700;
    padding: 10px;
    margin: 10px;
    /* display: flex; */
    justify-content: center
}

.header {
    background-color: #003399;
}

.table {
    border: solid 5px #003399;
    padding: 10px;
    margin: 10px;
}

td {
    border: solid 2px #003399
}

#navbarMenu {
    background-color: #003399
}

.nav {
    background-color: #003399;
    padding: 10px
}

.navbar-toggler-icon {
    color: white;
    background-color: #003399;
    padding-left: 20px;
    font-size: 200%
}

.navbar-brand {
    color: white
}

.navbar-brand:hover {
    color: #ffd700
}

.button-primary {
    background-color: #003399;
    color: #ffd700
}

.button-secondary {
    background-color: #003399;
    color: #ffd700
}

button.btn.btn-secondary {
    background-color: #003399;
    color: white;
}

a {
    color: white
}


/* no evidence this does anything yet */

a.hover {
    color: white;
    text-decoration: none;
}

button.save.btn.btn-default {
    background-color: #003399;
    color: white;
}


/* no evidence this works yet */

button.close {
    color: white
}

button.close.hover {
    color: #ffd700
}


/* .modal-dialog {
    height: 300%;
    width: 200%
} */

.form-button {
    display: flex;
    justify-content: flex-end
}

.modal-header {
    justify-content: center;
    background-color: #003399;
    color: white
}

.modal-body {
    padding: 5%
}

.modal-footer {
    padding: 5%;
    justify-content: space-evenly
}

form {
    background-color: #ffd700;
    padding: 10px;
    margin: 10px;
}

textarea {
    /* width: 100%; */
    border: solid 2px #003399;
    width: 100%;
    height: 80px;
}

input {
    /* width: 100%; */
    border: solid 2px #003399;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1.5em
}