{% extends "base.html" %}

<!-- {% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %} -->

{% block content %}

<div class="container-fluid">
	<div class="row">
		<!-- <div class="col"> -->
		<table class="table table-striped table-bordered">
			<thead>
				<th>ID</th>
				<th>Question</th>
				<th>Answer</th>
			</thead>
			<tbody>
				{% for card in cards %}
				<tr>
					<td>{{card.id}}</td>
					<td>{{card.question}}</td>
					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View
							Answer
						</button>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="myModalLabel">
											{{card.question}}
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{{card.answer}}

									</div>
									<div class="modal-footer">
										<p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a
												href="#" class="tooltip-test" title="Tooltip">that link</a> have
											tooltips on hover.</p>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>

					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- </div> -->

		<!-- Modal -->
		<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Modal title
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Modal body
						<h5>Tooltips in a modal</h5>
						<p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#"
								class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div> -->


	</div>


</div>

</div>
{% endblock %}