{% extends "base.html" %}

{% block content %}

		<table class="table table-striped table-bordered">
			<thead>
				<th>ID</th>
				<th>Question</th>
				<th>Answer</th>
			</thead>
			
			<tbody>
				{% for card in cards %}
				<tr>
					<td>{{card.id}}</td>
					<td>{{card.question}}</td>
					<td>
						<!-- modal. note that to make sure there is a unique modal for each item in loop, I add card.id in the data-target -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ card.id }}">View
							Answer 
						</button>
						<div class="modal fade" id="myModal{{ card.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="myModalLabel">
											{{card.question}}
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{{card.answer}}

									</div>
									<div class="modal-footer">
										<p><a href="{{card.url}}" target="_blank" class="tooltip-test" title="Tooltip">Learn more</a> 
											<a href="/cards/card/{{ card.id }}/update">Update</a>

										</p>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}